# Network RPC URLs - Add your own RPC URLs
SEPOLIA_RPC_URL=https://eth-sepolia.public.blastapi.io
AMOY_RPC_URL=https://rpc.ankr.com/polygon_amoy
CORE_TESTNET_RPC_URL=https://rpc.test.btcs.network
CORE_TESTNET2_RPC_URL=https://rpc.test2.btcs.network
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BSC_TESTNET_RPC_URL=https://bsc-testnet-rpc.publicnode.com
HOLESKY_TESTNET_RPC_URL=https://1rpc.io/holesky
OP_SEPOLIA_RPC_URL=https://sepolia.optimism.io
FUJI_TESTNET_RPC_URL=https://avalanche-fuji-c-chain-rpc.publicnode.com


# Block Explorer API Keys
ETHERSCAN_API_KEY=

# Private keys - Be extremely careful with this!
OWNER_PRIVATE_KEY=
GENERATOR_PRIVATE_KEY=
AGGREGATOR_PRIVATE_KEY=
DEPLOYER_PRIVATE_KEY=

# AVS Contracts Configuration
AVS_GOVERNANCE_ADDRESS=
ATTESTATION_CENTER_ADDRESS=
L1_AVS_TREASURY=
TASK_MANAGER=

PRIVATE_KEY_ATTESTER1=
PRIVATE_KEY_ATTESTER2=
PRIVATE_KEY_ATTESTER3=
PRIVATE_KEY_ATTESTER4=
PRIVATE_KEY_ATTESTER5=